# ignore node_modules folder.
node_modules/

# Keep environment variables out of version control
.env

uploads/
winston/
logs/

/src/generated/prisma

# yarn add --dev jest ts-jest @types/jest supertest @types/supertest
# yarn add -D webpack webpack-cli ts-loader typescript webpack-node-externals