version: "3.9"

services:
  # Node App
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3002:5000"
    volumes:
      - .:/home/app
      - /home/app/node_modules
    env_file:
      - .env
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - internalnet

  # MySQL Service
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin123
      MYSQL_DATABASE: myDatabase
    ports:
      - "3306:3306" 
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-u", "admin", "-padmin123"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - internalnet

  # Redis Service
  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - internalnet

volumes:
  mysql_data:

networks:
  internalnet:
    driver: bridge
